body {
    margin: 0;
    font-family: 'Baloo Da 2', cursive;
    color: #46484a;
    background-color: #eef0f3;
}

a {
    color: #40aceb;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: #418fef;
}

.app-load {
    margin-top:15vh;
}

.login-outer-container {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom right, rgba(95, 151, 235, 0.7019607843137254), rgba(0, 214, 233, 0.62));
}

.outer-login-block {
    padding-top: 17.5vh;
}

.login-block {
    background: white;
    position: relative;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.button {
    font-family: 'Baloo Da 2', cursive;
    font-size: 13pt;
    padding: 5px 15px;
    border: 0;
    background: #00d6e9;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    min-width: 100px;
    transition: 0.1s ease;
    cursor: pointer;
    border-bottom: 2px solid #15a0d6;
    outline: 0;
}

.button:hover {
    background: #3caeea;
}

/* .button.button-discord {
    background: #7289DA;
    border-color: #5457c5;
}

.button.button-discord:hover {
    background: #6b6ee0;
} */

.button.button-discord i {
    padding-right: 10px;
    font-size: 16pt;
    vertical-align: middle;
    padding-left: 5px;
}

.button.button-discord {
    padding-right: 15px;
}

.login-header .logo {
    float: left;
    height: 70px;
    margin-right: 20px;
    width: 72px;
    margin-top: 7px;
}

.login-header {
    border-bottom: 2px solid #eef0f3;
    margin: 10px;
}

.login-header {
    padding: 10px;
}

.login-header h3 {
    font-size: 19pt;
    font-weight: 500;
    display: block;
    margin: 0;
    margin-top: 10px;
    line-height: 19pt;
    color: #767b7d;
}

.login-header h2 {
    font-size: 24pt;
    font-weight: 600;
    display: block;
    margin: 0;
    line-height: 24pt;
    padding: 10px;
    padding-top: 5px;
    color: #5c6279;
}

.login-body {
    text-align: center;
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.error-block {}

.outer-login-block .error-block {
    margin: 0 30vw;
    margin-top: 50px;
}

.error {
    background: #ce4b4b;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    border-bottom: 2px solid #7d2c2c;
    vertical-align: middle;
    position: relative;
    top: 0px;
    opacity: 0;
    animation-name: error-animate;
    animation-duration: 3s;
}

.error i {
    padding-right: 10px;
    font-size: 16pt;
    vertical-align: middle;
}

.error span {
    display: inline-block;
    vertical-align: middle;
}

@keyframes error-animate {
    0% {
        opacity: 0;
        top: 10px;
    }
    5% {
        opacity: 0;
        top: 10px;
    }
    10% {
        opacity: 1;
        top: 0px;
    }
    80% {
        opacity: 1;
        top: 0px;
    }
    99% {
        opacity: 0;
        top: 30px;
    }
    100% {
        opacity: 0;
        top: -10px;
    }
}

.sidebar {
    background: #323544;
    height: 100vh;
    color: #94979e;
    float: left;
}

.main-container {
    display: block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: scroll;
}

.sidebar-top {
    background-image: linear-gradient(to bottom right, #5f97eb, #00d6e9);
    padding: 10px 20px;
    border-bottom: 2px solid #599beb;
    padding-top: 20px;
}

.sidebar-top .main-title {
    font-size: 16pt;
    line-height: 14pt;
    color: white;
    font-weight: 500;
    margin: 0;
}

.sidebar-top .sub-title {
    color: white;
    font-weight: 100;
    font-size: 13pt;
    margin: 0;
}

.logo-container {
    float: left;
    width: 50px;
    padding: 0 7px;
    height: 50px;
    margin-right: 10px;
}

.logo-container .logo {
    max-width: 100%;
    display: inline-block;
    position: relative;
    top: 3px;
}

.logo-container i.logo {
    font-size: 46px;
    vertical-align: middle;
    display: inline-block;
    color: white;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav li a {
    display: block;
    padding: 7px 35px;
    color: #94979e;
    text-decoration: none;
    font-size: 13pt;
    padding-right: 50px;
    transition: 0.05s ease;
}

.main-nav li i {
    padding-right: 14px;
}

.main-nav {
    margin-top: 30px;
}

.main-nav li a:hover {
    background: #1e202c;
    color: white;
}

.main-nav li a:hover i {
    color: #05d2e9;
}

.titles {
    margin: 6px 0;
}


.top {
    background: white;
    display: block;
    margin: 0;
    line-height: 24pt;
    color: #5c6279;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
}

.page-title h2 {
    font-size: 24pt;
    font-weight: 600;
    padding: 0 20px;
    display: inline-block;
    margin: 0;
}

.page-title {
    display: inline-block;
    padding: 25px;
}

.user {
    float: right;
    padding-right: 30px;
    padding-top: 12px;
}

.page-title h2 i {
    padding-right: 20px;
}

.main-nav .navigation.selected {
    color: white;
    background: #272a38;
}

.main-nav .navigation.selected i {
    color: #05d2e9;
}

.user .avatar {
    display: inline-block;
    border-radius: 100%;
    max-height: 57px;
    vertical-align: middle;
}

.user .username {
    display: inline-block;
    font-size: 16pt;
    padding: 0 15px;
    vertical-align: sub;
}

.sign-out {
    display: inline-block;
    vertical-align: middle;
    font-size: 21pt;
    color: #5c6279;
}

.sign-out:hover i {
    background: #e5eaec;
}

.sign-out i {
    padding: 6px;
    border-radius: 100%;
}


.loading {
    text-align: center;
    padding: 60px 0;
}

.loading span {
    font-size: 20pt;
    display: block;
    color: #adb3bf;
}

.loading span i {
    font-size: 30pt;
}

.loading i {
    font-size: 42px;
    color: #737b8c;
    animation: loading 3s infinite;
    display: inline-block;
    position: relative;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(360deg);
    }
    66% {
        transform: rotate(0deg);
    }
    66% {
        transform: rotate(-360deg);
    }
}

div#home {
    margin: 30px 7.5%;
}

.section-left {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.section-right {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.guild-info {
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 30px 10px;
}

.guild-main {
    background: #2f3136;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 30px 10px;
    position: relative;
}

.recent-punishments {
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 30px 10px;
}

.block-title {
    font-weight: 600;
    font-size: 21pt;
    margin: 0;
    border-bottom: 2px solid #eef0f3;
    margin-bottom: 10px;
    padding: 0 10px;
}

.guild-logo {
    display: inline-block;
    vertical-align: middle;
}

.guild-logo img {
    border-radius: 100%;
}

.guild-name {
    display: inline-block;
    padding-left: 20px;
    font-weight: 500;
    vertical-align: middle;
}
.guild-name .title {
    font-size: 22pt;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.09);
    margin-bottom: 10px;
    display: inline-block;
}

.guild-level {
    color: rgba(255, 255, 255, 0.34);
    font-size: 14pt;
    font-weight: 400;
}

.guild-descr {
    color: rgba(228, 228, 228, 0.67);
    font-weight: 400;
}

.guild-banner-overlay {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.guild-logo {
    z-index: 10;
    position: relative;
}

.guild-name {
    z-index: 10;
    position: relative;
}

span.guild-banner-overlay:after {content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-image: linear-gradient(#2f3136,#2f3136,#2f3136, transparent);}

.guild-logo img {
    border: 4px solid #474a50;
}


.left-block {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.right-block {
    
width: 50%;
    
display: inline-block;
    
vertical-align: top;
}

.guild-info ul {
    padding: 0;
    list-style-type: none;
}

.list-type {
    font-size: 16pt;
    padding-right: 10px;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
}

.list-answer {
    font-size: 14pt;
    color: #b0b4c1;
    font-weight: 500;
    width: 100%;
    display: inline-block;
}

#home .list-answer {
    width: auto;
}

.list-type i {
    padding-right: 5px;
}

.guild-info .inner {
    padding: 10px;
}

.punishment-list ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}


.punishment {
    border-bottom: 2px solid #eef0f3;
    padding: 10px;
}


.punishment div {
    display: inline-block;
}

.punishment-type {
    font-size: 17pt;
    padding-right: 10px;
    vertical-align: sub;
}

.punishment-severity {
    font-size: 11pt;
    font-weight: 600;
    background: #c53030;
    color: white;
    padding: 0px 12px;
    border-radius: 100px;
    margin-right: 10px;
}

.punishment-username {
    font-size: 14pt;
    font-weight: 600;
}

.punishment-by {
    display: block !important;
}

.punishment-by-prefix {
    font-weight: 600;
    padding: 0 10px;
    border-radius: 200px;
    margin-right: 10px;
    color: #9e9db1;
}

.punishment-reason {
    font-weight: 600;
    color: #b9baca;
    display: inline !important;
}

.punishment-for-prefix {
    font-weight: 600;
    padding: 0 10px;
    border-radius: 200px;
    margin-right: 10px;
    color: #9e9db1;
}

.punishment-for {
    margin-top: 4px;
    margin-bottom: 4px;
}

.punishment-active-state {
    background: #e2e6ea;
    font-weight: 600;
    color: #9e9db1;
    padding: 0 10px;
    border-radius: 100px;
    float: right;
    top: 2px;
    position: relative;
}

.punishment-active-state i {
    padding-right: 10px;
}

.punishment-active-state.punishment-active {
    background: #1edc1e;
    color: white;
}


.punishment-severity.perm {
    background: #b3252c;
}

.punishment-severity.sev1 {
    background: #60e250;
}

.punishment-severity.sev2 {
    background: #ead90f;
}

.punishment-severity.sev3 {
    background: #e68a00;
}

.punishment-severity.sev4 {
    background: #de2900;
}

span.discriminator-split {color: #7b778a;padding-left: 3px;}

span.discriminator {
    color: #a09dad;
    font-size: 13pt;
}

.punishment-for {
    margin-top: 4px;
    margin-bottom: 4px;
}

.punishment-time {

    margin-top: 4px;
    margin-bottom: 4px;
    display: block !important;
}

.punishment-time-prefix {
    font-weight: 600;
    padding: 0 10px;
    border-radius: 200px;
    margin-right: 10px;
    color: #9e9db1;
}

.view-more {
    float: right;
    color: #d5d5e0;
}

.view-more i {
    padding-left: 10px;
}

.punishment-type i {
    font-size: 20pt;
}

.punishment-id {
    background: #dee1e4;
    color: #9e9db1;
    padding: 0 10px;
    border-radius: 6px;
    font-weight: 600;
    margin-right: 8px;
}

.punishment.hidden {
    opacity: 0.5;
}

.punishment-id:hover {
    background: #c7cbd0;
    color: #87869c;
}

#admins .left {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

div#admins {
    margin: 30px 50px;
}

#admins .right {
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.admin-list {
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 30px 10px;
}


.admin-avatar img {
    display: block;
}

.admin-avatar {
    display: inline-block;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    width: 60px;
    background: #b9c2cc;
}

.admin-name-info {
    display: inline-block;
}

.admin-you {
    display: inline-block;
    background: #00d6e9;
    color: white;
    font-weight: 600;
    padding: 0 8px;
    border-radius: 100px;
    margin: 0 10px;
    margin-right: -5px;
}

.admin-name {
    display: inline-block;
}

.admin-id {
    display: inline-block;
}

.admin-avatar img {
    display: block;
    height: 100%;
}

.admin-text {
    display: inline-block;
}

.admin-name {
    font-size: 16pt;
    font-weight: 500;
    padding-left: 10px;
}

span.admin-discrim-div {
    color: #989daf;
}

span.admin-discrim {
    color: #989daf;
    font-size: 13pt;
}

.admin-id {
    background: #dfe4ea;
    padding: 0 5px;
    border-radius: 100px;
    font-weight: 600;
    color: #b5bdc7;
    margin-left: 15px;
}

.admin-type-info {
    margin-left: 12px;
    color: grey;
    font-weight: 600;
    color: #b9baca;
}

.admin-delete {
    float: right;
    background: transparent;
    border: 0;
    font-size: 18pt;
    color: #b9baca;
    margin-top: 20px;
    border-radius: 100%;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: 20px;
    outline: 0;
}

.admin-delete:hover {
    background: #e5eaec;
}

.admin-info {
    border-bottom: 2px solid #eef0f3;
    padding: 10px 5px;
}


.admin-nick {
    display: inline-block;
    padding-left: 10px;
    color: #b9baca;
    font-size: 13pt;
    font-weight: 600;
}

button.admin-delete:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button.admin-delete:disabled:hover {
    background: transparent;
}


.selected-admin {
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 30px;
}

.button.add-admin {
    float: right;
}

.button.add-admin i {
    vertical-align: middle;
}

.admin-info:hover {
    background: #eef0f3;
}

#admins .block-title {
    margin-bottom: 0;
}

span.list-count {
    background: #00d6e9;
    display: inline-block;
    color: white;
    padding: 2px 14px;
    line-height: 20pt;
    border-radius: 100px;
    font-size: 17pt;
    vertical-align: middle;
    margin-left: 10px;
    top: -2px;
    position: relative;
}


.selected-admin-avatar {
    overflow: hidden;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
}

.selected-admin-avatar img {
    display: block;
    width: 128px;
    height: 128px;
}

.selected-admin-username {
    margin-left: 15px;
    vertical-align: top;
    line-height: 1;
    display: block;
    min-height: 128px;
}

.selected-admin-username-text {
    font-weight: 500;
    font-size: 17pt;
    margin-bottom: 10px;
    padding-top: 10px;
}

span.selected-admin-discr-t {
    color: #989daf;
}

span.selected-admin-discr {
    color: #989daf;
    font-size: 14pt;
    margin-right: 10px;
}

.selected-admin-nick {
    display: inline-block;
    font-size: 12pt;
    color: #cdcdd8;
}

.selected-admin-id {
    background: #dfe4ea;
    padding: 5px;
    border-radius: 100px;
    font-weight: 600;
    color: #b5bdc7;
    display: inline-block;
}

.selected-admin-type {
    font-size: 16pt;
    margin-top: 10px;
    padding-top: 10px;
    line-height: 16pt;
    color: #c5c8ce;
}

.admin-regular-block {
    border-top: 2px solid #eef0f3;
    margin-top: 10px;
    padding: 10px;
}

span.admin-added-title {
    font-weight: 600;
    padding: 0 10px;
    border-radius: 200px;
    margin-right: 10px;
    color: #9e9db1;
}

span.admin-added-text {
    font-weight: 600;
    color: #b9baca;
    display: inline !important;
}


.selected-admin-name {
    display: inline-block;
}
.selected-admin-discr-t {
display: inline-block;
}
.selected-admin-discr {
display: inline-block;
}

.admin-regular-block > div {
    padding: 5px 0;
}

.admin-added-at {
    margin-bottom: 20px;
}


.main-container {
    height: 100vh;
}

.popup {
    position: absolute;left: 0;right: 0;margin: auto;width: 30vw;background: white;padding: 20px;box-shadow: 0px 5px 17px 7px rgba(0, 0, 0, 0.22);
    top: 30vh;
    opacity: 1;
    transform: translate(0, 0px);
    animation-name: animate-popup;
    animation-duration: 0.4s;
}

@keyframes animate-popup {
    0% {
        transform: translate(0, 40px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0px);
        opacity: 1;
    }
}


.popup-body {
    padding: 10px;
    font-size: 14pt;
    color: #b0b4c1;
    font-weight: 500;
}

.popup-buttons {
    float: right;
}

.popup-buttons .button.cancel {margin-right: 20px;}

.cancel {
    background: #c9cfd6;
    color: #848fa2;
    border-color: #9da8b5;
}

.admin-added-id {
    display: inline-block;
    background: #dfe4ea;
    padding: 0 5px;
    border-radius: 100px;
    font-weight: 600;
    color: #b5bdc7;
    margin-left: 10px;
}

.cancel:hover {
    background: #a8b0b9;
}

span.delete-admin-name {
    font-weight: 500;
    color: #5c6279;
}

span.delete-admin-nick {
    font-weight: 600;
    padding-left: 10px;
    color: #cdced4;
}

.popup-close {
    float: right;
    background: transparent;
    border: 0;
    font-size: 20pt;
    color: #9e9db1;
    border-radius: 100%;
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
    outline:0;
}

.popup-close:hover {
    background: #e5eaec;
}

input, textarea {
    font-family: 'Baloo Da 2', cursive;
    font-size: 13pt;
    border: 0;
    border-bottom: 3px solid #00d6e9;
    color: #565861;
    font-weight: 500;
    padding: 4px 10px;
    background-color: #edeff1;
    outline:0;
    box-sizing: border-box;
    transition: 0.1s ease;
}

input:focus, input:active, textarea:focus, textarea:active {
    border-color: #15a0d6;
}

input::placeholder, textarea::placeholder {
    color:#d0d7dc;
}

#new_admin_id {
    width: 70%;
    margin-top: 15px;
}

.text-field-error {
    color: #ff4343;
    font-weight: 500;
    height: 30px;
}


.config-container {
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 60px 80px;
    width: 55%;
}

#config ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.config-body {
    padding: 20px;
}

.config-body .loading {
    padding: 0;
}

.command-state {
    background: #e2e6ea;
    font-weight: 600;
    color: #9e9db1;
    padding: 0 10px;
    border-radius: 100px;
    top: 2px;
    position: relative;
    display: inline-block;
    top: -3px;
}

.command-state i {
    padding-right: 10px;
}

#config li {
    padding: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.config-container li {
    height: 43px;
}


.command-state.active-state {
    background: #1edc1e;
    color: white;
}

.sub-heading {
    margin: 0;
    font-size: 17pt;
    font-weight: 600;
    color: #9a9ead;
    padding: 10px 0;
    border-bottom: 2px solid #eef0f3;
    margin-bottom: 10px;
    margin-top: 30px;
}

.edit-button {
    background: transparent;
    border: 0;
    padding: 0;
    font-size: 18pt;
    color: #b9baca;
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    margin-left: 15px;
    transition: 0.1s ease;
    outline: 0;
}

.edit-button:hover {
    background: #e5eaec;
}

.toggle-button {
    background: #b9baca;
    border: 0;
    font-size: 18pt;
    color: white;
    width: 50px;
    border-radius: 100px;
    padding: 15px;
    position: relative;
    line-height: 18pt;
    cursor: pointer;
    top: -5px;
    outline: 0;
}

.toggle-button i {
    text-shadow: 2px 2px #00000038;
    padding: 0;
    position: absolute;
    left: 3px;
    top: 3px;
    transform: translate(0px, 0px);
    transition: 0.2s ease;
}

.toggle-button.toggled i {
    transform: translate(79%, 0px);
    text-shadow: -2px 2px #00000038;
}

.toggle-button.toggled {
    background: #41c541;
}

.config-body li .edit-button {
    opacity: 0;
    transition: 0.2s ease;
}

.config-body li:hover .edit-button {
    opacity: 1;
}

span.editable-field-current {
    display: block;
    top: -4px;
    position: relative;
}

.editable-field .text-field {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    width: 60%;
}


.editable-field .button {
    margin-left: 10px;
}



.editable-field .text-field input {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.editable-field {
    display: block;
}

.editable-field .text-field-error {
    position: absolute;
}

#config .editable-field .text-field {
    width: 55%;
}

.list-answer > span {
    display: inline-block;
}

button.toggle-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.comment {
    font-size: 14pt;
    color: #cfd1d6;
    font-weight: 500;
}

.comment > div {
    margin: 0 10px;
}

.report-blacklist {
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 30px 10px;
}

.blacklist-item {
    border-bottom: 2px solid #eef0f3;
    padding: 15px;
}

.blacklist-item:hover {
    background: #eef0f3;
}

.report-blacklist-delete {
    float: right;
    background: transparent;
    border: 0;
    font-size: 18pt;
    color: #b9baca;
    border-radius: 100%;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: 20px;
    outline: 0;
    margin-top: -4px;
}

.blacklist-user {
    background: #dfe4ea;
    padding: 0 5px;
    border-radius: 100px;
    font-weight: 600;
    color: #b5bdc7;
    margin-left: 15px;
    display: inline-block;
}


#reports{
    margin: 30px 50px;
}

#reports .block-title {
    margin-bottom: 0;
}

.report-blacklist-delete:hover {
    background: rgba(186, 191, 195, 0.44);
}



#reports .left {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

#reports .right {
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.blacklist-user-selected {
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 30px;
}

.discord-role {
    border: 1.5pt solid grey;
    display: inline-block;
    border-radius: 100vw;
    line-height: 16pt;
    font-size: 12pt;
    padding: 0 3pt;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
}

span.discord-role-decorator {
    height: 1em;
    display: inline-block;
    width: 1em;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 0.3em;
}

.discord-role-title {
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
}

.button i {
    margin-right: 0.8em;
    margin-left: 0.3em;
}

.blacklist-user-body .rolelist {
    border-bottom: 2px solid #eef0f3;
    padding: 20px;
    margin-bottom: 30px;
    border-top: 2px solid #eef0f3;
    margin-top: 20px;
}

.blacklist-user-avatar {
    overflow: hidden;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
}

.blacklist-user-avatar img {
    display: block;
    width: 128px;
    height: 128px;
}

.blacklist-user-username {
    margin-left: 15px;
    vertical-align: top;
    line-height: 1;
    display: block;
    min-height: 128px;
}

.blacklist-user-username-text {
    font-weight: 500;
    font-size: 17pt;
    margin-bottom: 10px;
    padding-top: 10px;
}

span.blacklist-user-name {
    display: inline-block;
}

span.blacklist-user-discr-t {
    color: #989daf;
    display: inline-block;
}

span.blacklist-user-discr {
    color: #989daf;
    font-size: 14pt;
    margin-right: 10px;
    display: inline-block;
}

.blacklist-user-nick {
    display: inline-block;
    font-size: 12pt;
    color: #cdcdd8;
}

.blacklist-user-id {
    background: #dfe4ea;
    padding: 5px;
    border-radius: 100px;
    font-weight: 600;
    color: #b5bdc7;
    display: inline-block;
}

.add-blacklist-buttons .button.cancel {
    margin-right: 20px;
}

.add-blacklist-buttons {
    float: right;
}

input#new_blacklist_id {
    width: 70%;
    margin-top: 15px;
}

.add-report-blacklist {
    float: right;
}


.rules-container {
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 60px 80px;
    width: 55%;
}

span.command {
    background: #12cae9;
    color: white;
    padding: 0 10px;
    border-radius: 200px;
    margin: 0 5px;
    font-weight: 500;
}

.rules-explain {
    background: #bec0c9;
    border-radius: 4px;
    padding: 20px;
    font-weight: 500;
    color: #6c7080;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
}

textarea {
    transition: width 0s, height 0s;
}

.embed-block textarea {
    width: 100%;
    min-width: 100%;
    height: 200px;
    max-width: 100%;
}

.rules-save {
    float: right;
}


.rule-embed-delete {
    float: right;
    background: transparent;
    border: 0;
    font-size: 18pt;
    color: #b9baca;
    border-radius: 100%;
    padding: 4px 8px;
    cursor: pointer;
    outline: 0;
}

.rule-embed-delete:hover {
    background: #e5eaec;
}

.rules-buttons {
    padding-top: 20px;
    border-top: 2px solid #eef0f3;
}

.rules-buttons button {
    margin-right: 10px;
}

#success {position: absolute;left: 0;right: 0;margin: auto;width: 20vw;background: white;padding: 20px;box-shadow: 0px 5px 17px 7px rgba(0, 0, 0, 0.22);top: 30vh;opacity: 1;transform: translate(0, 0px);animation-name: animate-popup;animation-duration: 0.4s;text-align: center;}

.success-top {
    background: #8fe234;
    color: white;
    font-size: 4em;
    position: absolute;
    height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.19);
}

.success-top i {
    vertical-align: sub;
}

.success-text {
    text-align: center;
}

h2.success-title {
    margin: 0;
    margin-top: 2em;
    font-size: 20pt;
}

#success button {
    width: 70%;
    margin-top: 1em;
    background: #8fe234;
    border-color: #63bd37;
}


#severities {
    margin: 30px 50px;
}


#severities .left {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

#severities .right {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.severities, .severity-info {
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 30px 10px;
}

.button.type-choose {
    font-size: 17pt;
    line-height: 17pt;
    padding: 10px 30px;
    margin: 0 10px;
    min-width: 200px;
}

.severity-choose {
    text-align: center;
}

.button.type-choose {
    border: 2pt solid #00d6e9;
    background: transparent;
    color: #00d6e9;
    box-shadow: 0px 2px transparent;
    font-weight: 600;
}

.selected .button.type-choose {
    color: white;
    background: #00d6e9;
    box-shadow: 0px 2px #15a0d6;
}

.severity-choose {
    padding-bottom: 20px;
    border-bottom: 2px solid #eef0f3;
}

.severity-list-item {
    border-bottom: 2px solid #eef0f3;
    padding: 10px 5px;
}

.severity-list-item:hover {
    background: #eef0f3;
}

.severity-list-item > button {
    float: right;
    background: transparent;
    border: 0;
    font-size: 18pt;
    color: #b9baca;
    border-radius: 100%;
    padding: 4px 8px;
    cursor: pointer;
    outline: 0;
    margin-right: 10px;
}

.severity-list-item> button:hover {
    background: #d3d7e0;
}

.severity-id {
    display: inline-block;
    background: #dfe4ea;
    padding: 0 10px;
    border-radius: 100px;
    font-weight: 600;
    color: #b5bdc7;
    margin-left: 10px;
}

#severities .punishment-severity {
    display: inline-block;
    margin-left: 10px;
}

.severity-type {
    display: inline-block;
    font-size: 17pt;
}

.severity-type i {
    vertical-align: sub;
}

.severity-text {
    display: inline-block;
    margin-left: 12px;
    font-weight: 600;
    color: #b9baca;
}

.generic-text {
    padding: 20px;
    font-weight: 500;
    color: #b5b5bf;
}

button.severity-edit {
    padding: 4px;
}

.severity-icon {
    background: #323544;
    display: inline-block;
    float: left;
    font-size: 2em;
    color: white;
    width: 2em;
    height: 2em;
    text-align: center;
    border-radius: 100%;
    margin-right: 0.3em;
}

.severity-icon i {
    vertical-align: sub;
    position: relative;
    bottom: -2px;
}

.severity-desc {
    font-size: 21pt;
    padding-top: 5px;
    min-height: 60px;
    padding-bottom: 5px;
}

.severity-desc .punishment-severity {
    font-size: 14pt;
}

.severity-desc .punishment-severity {
    min-width: 50px;
    text-align: center;
}

.severties-info-body {
    margin-top: 10px;
    padding: 10px;
}

.severity-info-item {
    padding: 5px 0;
}

span.severity-info-title {
    font-weight: 600;
    padding: 0 10px;
    border-radius: 200px;
    margin-right: 10px;
    color: #9e9db1;
}

span.severity-info-data {
    font-weight: 600;
    color: #b9baca;
    display: inline;
}

.severity-info-data .punishment-severity {
    margin: 0 !important;
}

.severity-admin-id {
    background: #dfe4ea;
    padding: 5px;
    border-radius: 100px;
    font-weight: 600;
    color: #b5bdc7;
    display: inline-block;
    line-height: 14pt;
}

.severity-control-block {
    padding: 20px;
    border-top: 2px solid #eef0f3;
}

.severity-control-block .delete-type {float: right;}


.sev-delete-item {
    font-size: 15pt;
    padding: 10px;
    font-weight: 500;
    color: #9e9db1;
}

.sev-delete-item > * {
    vertical-align: middle;
}

.sev-delete-item i {
    color: #46484a;
    font-size: 20pt;
}

.severity-info-top {
    padding: 10px 20px;
    border-bottom: 2px solid #eef0f3;
}

.editor-block {
    display: flex;
    padding: 5px 0;
}

.editor-title {
    font-weight: 600;
    padding: 0 10px;
    border-radius: 200px;
    margin-right: 10px;
    color: #9e9db1;
}

.sev-info .punishment-severity {
    vertical-align: middle;
    font-size: 14pt;
    top: -3px;
    position: relative;
    margin: 0 5px!important;
}

.editor-field {width: 60%;}

.editor-block.editor-newline {
    display: block;
    padding-bottom: 30px;
    padding-top: 10px;
}

.editor-block.editor-newline .editor-title {
    padding-bottom: 10px;
}

.editor-block.editor-newline .editor-field {
    width: auto;
    padding: 10px;
}

.sev-editor .comment {
    display: block;
    padding: 10px;
}

.no-perm.true {
    opacity: 0.5;
}

#edit_sev {
    top: 20vh;
}

.editor-field .button {
    margin-right: 0.5em;
}

.button.type-chooser {
    background: white;
    color: #00d6e9;
    /* box-shadow: 0px 2px #15a0d6; */
    border: 2pt solid transparent;
    border-color: #00d6e9;
    padding: 3px 20px;
}

.button.type-chooser.selected {
    background: #00d6e9;
    color: white;
}

span.time-txt {
    padding: 0 10px;
}

.editor-field input[type="number"] {
    width: 4em;
}

input.percent-editor, input.severity-editor {
    width: 6em !important;
}

.editor-err {
    color: #ff4b4b;
}

.severities-bottom {
    padding-top: 20px;
    text-align: right;
}